body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header {
  nav {
    padding: 1.5rem;
    background-color: rgb(247, 247, 247);
    box-shadow: -3px 3px 20px rgba(0, 0, 0, 0.205);
    display: flex;
    flex-direction: row;
    .nav-logo {
      margin: 0 14.7rem;
      width: 10rem;
    }
  }

  section {
    display: flex;
    flex-direction: row;
    margin: 0 5vw;

    .left {
      width: 30%;
      padding: 10rem;
      float: left;

      h1 {
        font-size: 5.5rem;
        margin: 35px 0;
        line-height: 1.45;
      }

      p {
        font-size: 1.6rem;
        margin: 0;
      }
    }

    .right {
      width: 100%;
      margin: 8vw 0;
      float: right;

      .hero_photo {
        width: 90%; // 50%
      }
    }
  }

  .card-container {
    padding: 8.8vw;
    margin: 0rem 4.6rem;

    .card {
      display: inline-flex;
      flex-direction: column;
      box-shadow: -3px 3px 20px rgba(0, 0, 0, 0.089);
      width: 17rem;
      margin: 0 1rem;

      .card_header {
        .character_img {
          width: 100%;
          border-radius: 15px;
        }
      }

      .card_info {
        padding: 0.5rem 0.5rem;

        .rating {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          .card_star {
            height: auto;
            margin: 0 0.5rem;
          }

          span {
            font-size: 1.7rem;
          }
        }

        .content {
          p {
            font-size: 1.3rem;
            margin: 1rem 0;
          }
        }
      }
    }
  }
}

@media (max-width: 1368px) {
  .header {
    nav {
      padding: 1.5rem;
      background-color: rgb(247, 247, 247);
      box-shadow: -3px 3px 20px rgba(0, 0, 0, 0.205);
      display: flex;
      flex-direction: row;
      .nav-logo {
        margin: 0 0rem;
        width: 10rem;
      }
    }
    section {
      flex-direction: column-reverse !important;
      .left {
        padding: 0rem;
        width: 100%;

        h1 {
          font-size: 13vw;
        }

        p {
          font-size: 4vw;
        }
      }

      .right {
        .hero_photo {
          padding: 1rem 0rem;
          width: 100%;
        }
      }
    }
  }
}
