body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header nav {
  padding: 1.5rem;
  background-color: #f7f7f7;
  -webkit-box-shadow: -3px 3px 20px rgba(0, 0, 0, 0.205);
          box-shadow: -3px 3px 20px rgba(0, 0, 0, 0.205);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header nav .nav-logo {
  margin: 0 14.7rem;
  width: 10rem;
}

.header section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 5vw;
}

.header section .left {
  width: 30%;
  padding: 10rem;
  float: left;
}

.header section .left h1 {
  font-size: 5.5rem;
  margin: 35px 0;
  line-height: 1.45;
}

.header section .left p {
  font-size: 1.6rem;
  margin: 0;
}

.header section .right {
  width: 100%;
  margin: 8vw 0;
  float: right;
}

.header section .right .hero_photo {
  width: 90%;
}

.header .card-container {
  padding: 8.8vw;
  margin: 0rem 4.6rem;
}

.header .card-container .card {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: -3px 3px 20px rgba(0, 0, 0, 0.089);
          box-shadow: -3px 3px 20px rgba(0, 0, 0, 0.089);
  width: 17rem;
  margin: 0 1rem;
}

.header .card-container .card .card_header .character_img {
  width: 100%;
  border-radius: 15px;
}

.header .card-container .card .card_info {
  padding: 0.5rem 0.5rem;
}

.header .card-container .card .card_info .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header .card-container .card .card_info .rating .card_star {
  height: auto;
  margin: 0 0.5rem;
}

.header .card-container .card .card_info .rating span {
  font-size: 1.7rem;
}

.header .card-container .card .card_info .content p {
  font-size: 1.3rem;
  margin: 1rem 0;
}

@media (max-width: 1368px) {
  .header nav {
    padding: 1.5rem;
    background-color: #f7f7f7;
    -webkit-box-shadow: -3px 3px 20px rgba(0, 0, 0, 0.205);
            box-shadow: -3px 3px 20px rgba(0, 0, 0, 0.205);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header nav .nav-logo {
    margin: 0 0rem;
    width: 10rem;
  }
  .header section {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  .header section .left {
    padding: 0rem;
    width: 100%;
  }
  .header section .left h1 {
    font-size: 13vw;
  }
  .header section .left p {
    font-size: 4vw;
  }
  .header section .right .hero_photo {
    padding: 1rem 0rem;
    width: 100%;
  }
}
/*# sourceMappingURL=App.css.map */