body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header nav {
  padding: 1.5rem;
  background-color: #f7f7f7;
  -webkit-box-shadow: -3px 3px 20px rgba(0, 0, 0, 0.205);
          box-shadow: -3px 3px 20px rgba(0, 0, 0, 0.205);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header nav .nav-logo {
  margin: 0 14.7rem;
  width: 10rem;
}

.header section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 5vw;
}

.header section .left {
  width: 30%;
  padding: 10rem;
  float: left;
}

.header section .left h1 {
  font-size: 5.5rem;
  margin: 35px 0;
  line-height: 1.45;
}

.header section .left p {
  font-size: 1.6rem;
  margin: 0;
}

.header section .right {
  width: 100%;
  margin: 8vw 0;
  float: right;
}

.header section .right .hero_photo {
  width: 90%;
}

.header .card-container {
  padding: 8.8vw;
  margin: 0rem 4.6rem;
}

.header .card-container .wrapper h1 {
  font-size: 6.5vw;
  color: #0a0a0a09;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}

.header .card-container .wrapper h2 {
  margin-top: -6vw;
  margin-left: 2vw;
  font-size: 6vw;
  color: #fe4e59;
}

.header .card-container .wrapper .alert .sub_message {
  margin: 0 0.8vw;
  font-size: 2rem;
}

.header .card-container .wrapper .alert .sub_message #message {
  color: #797475;
}

.header .card-container .wrapper .card {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: -3px 3px 20px rgba(0, 0, 0, 0.089);
          box-shadow: -3px 3px 20px rgba(0, 0, 0, 0.089);
  width: 17rem;
  margin: 1rem 1rem;
}

.header .card-container .wrapper .card .card_header .character_img {
  width: 100%;
  border-radius: 15px;
}

.header .card-container .wrapper .card .card_info {
  padding: 0.5rem 0.5rem;
}

.header .card-container .wrapper .card .card_info .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header .card-container .wrapper .card .card_info .rating .card_star {
  height: auto;
  margin: 0 0.5rem;
}

.header .card-container .wrapper .card .card_info .rating span {
  font-size: 1.7rem;
}

.header .card-container .wrapper .card .card_info .content p {
  font-size: 1.3rem;
  margin: 1rem 0;
}

.header .card-container .wrapper .card .card_info .content #level {
  display: ruby;
  width: auto;
  background-color: rgba(185, 184, 184, 0.645);
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.4rem;
}

.header .card-container .wrapper .card .card_info .content a {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ff4f5a;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 1.2rem;
}

.header .card-container .wrapper .card .card_info .content a svg {
  width: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  .header nav {
    padding: 1.5rem;
    background-color: #f7f7f7;
    -webkit-box-shadow: -3px 3px 20px rgba(0, 0, 0, 0.205);
            box-shadow: -3px 3px 20px rgba(0, 0, 0, 0.205);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header nav .nav-logo {
    margin: 0 0rem;
    width: 10rem;
  }
  .header section {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
    margin: 0;
  }
  .header section .left {
    padding: 0rem;
    width: 100%;
  }
  .header section .left h1 {
    font-size: 13vw;
    text-align: center;
    margin: 10px;
  }
  .header section .left p {
    font-size: 4vw;
    text-align: center;
  }
  .header section .right .hero_photo {
    padding: 1rem 0rem;
    width: 100%;
  }
  .header .card-container {
    text-align: center;
    margin: 0;
  }
  .header .card-container .card {
    margin: 2rem 0;
  }
  .header .card-container .card .card_info .rating {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .card-container .card .card_info .rating .card_star {
    margin: 0;
  }
  .header .card-container .card .card_info .content #level {
    text-align: center;
    width: auto;
    margin: 0 4rem;
  }
}
/*# sourceMappingURL=App.css.map */